In [1]:
import requests
import win32ui
import warnings
warnings.filterwarnings("ignore")
import geopandas as gpd
import pandas as pd
import numpy as np

In [2]:
file_path = "SOLKAT_DACH.gpkg"
gdf = gpd.read_file(file_path, bbox=(2568677.366, 1259467.912, 2754129.966,1164829.524),engine = "pyogrio")

In [9]:
gdf.head()

,DF_UID,DF_NUMMER,DATUM_ERSTELLUNG,DATUM_AENDERUNG,SB_UUID,SB_OBJEKTART,SB_DATUM_ERSTELLUNG,SB_DATUM_AENDERUNG,KLASSE,FLAECHE,...,WAERMEERTRAG,DUSCHGAENGE,DG_HEIZUNG,DG_WAERMEBEDARF,BEDARF_WARMWASSER,BEDARF_HEIZUNG,FLAECHE_KOLLEKTOREN,VOLUMEN_SPEICHER,GWR_EGID,geometry
0,20129151,1,2022-10-22 13:11:38+00:00,2022-10-22 13:11:38+00:00,{5AEC3F8A-3923-4E6A-9AD3-A7102A737137},1,2021-03-11 12:58:33+00:00,2021-03-29 12:42:17+00:00,5,95.546151,...,16433,39,13,14,7424,106129,30.061695,2300,1515026.0,"MULTIPOLYGON (((2568823.799 1167016.181, 25688..."
1,20129167,2,2022-10-22 13:12:18+00:00,2022-10-22 13:12:18+00:00,{AB9686FE-D047-4FDC-92DE-9C253AB3A960},1,2011-03-15 09:54:39+00:00,2017-02-01 09:00:26+00:00,1,17.625109,...,0,0,0,0,0,0,0.000000,0,502174056.0,"MULTIPOLYGON (((2569982.470 1167031.073, 25699..."
2,20129166,1,2022-10-22 13:12:17+00:00,2022-10-22 13:12:17+00:00,{AB9686FE-D047-4FDC-92DE-9C253AB3A960},1,2011-03-15 09:54:39+00:00,2017-02-01 09:00:26+00:00,4,20.043997,...,0,0,0,0,0,0,0.000000,0,502174056.0,"MULTIPOLYGON (((2569984.904 1167030.518, 25699..."
3,20129164,2,2022-10-22 13:12:14+00:00,2022-10-22 13:12:14+00:00,{3B463931-F268-48BB-BB25-34E3B6A471D6},1,2015-05-19 14:20:34+00:00,2015-05-19 14:20:34+00:00,3,120.452508,...,5046,12,21,24,2784,17972,24.680427,1900,1515014.0,"MULTIPOLYGON (((2570000.977 1167062.834, 25699..."
4,20129165,3,2022-10-22 13:12:15+00:00,2022-10-22 13:12:15+00:00,{3B463931-F268-48BB-BB25-34E3B6A471D6},1,2015-05-19 14:20:34+00:00,2015-05-19 14:20:34+00:00,3,48.735820,...,5407,13,23,26,2784,17972,22.189995,1700,1515014.0,"MULTIPOLYGON (((2569996.325 1167065.634, 25699..."

In [4]:
gdf_clean = gdf[["KLASSE", "FLAECHE","STROMERTRAG","WAERMEERTRAG", "BEDARF_WARMWASSER", "BEDARF_HEIZUNG", "FLAECHE_KOLLEKTOREN","GWR_EGID", "geometry"]]
gdf_clean = gdf_clean.rename(columns={'GWR_EGID': 'EGID'})

In [5]:
# we have different geometry data. We therefore take the centroid point so that we can merge it with the elektrizitÃ¤tsproduktionsanlagen
gdf_clean["point_geom"] = gdf_clean["geometry"].centroid
#gdf_clean = gdf_clean.drop(columns="point_geom")

In [6]:
file_path = "ch.bfe.elektrizitaetsproduktionsanlagen.gpkg"
gdf_elekprod = gpd.read_file(file_path, bbox=(2568677.366, 1259467.912, 2754129.966,1164829.524),engine = "pyogrio")

#gdf_elekprod = gdf_elekprod.rename(columns={'geometry': 'point_geom'})
gdf_elekprod = gdf_elekprod[["TotalPower", "geometry"]]

In [7]:
#Merge the gpd dataframes
gdf_pot = gpd.sjoin(gdf_clean, gdf_elekprod, how="left", op="contains")

In [8]:
#We only want to include the rows where there is no measured power yet. 
gdf_pot['TotalPower'].replace(['NA', 'N/A', 'nan'], np.nan, inplace=True)
gdf_pot_na = gdf_pot[np.isnan(gdf_pot['TotalPower'])]
values_not_exclude = gdf_pot_na["EGID"].tolist()
filtered_gdf_clean = gdf_clean[gdf_clean["EGID"].isin(values_not_exclude)]
filtered_gdf_clean = filtered_gdf_clean.dropna(subset=['EGID'])
filtered_gdf_clean.head()

,KLASSE,FLAECHE,STROMERTRAG,WAERMEERTRAG,BEDARF_WARMWASSER,BEDARF_HEIZUNG,FLAECHE_KOLLEKTOREN,EGID,geometry,point_geom
0,5,95.546151,22793,16433,7424,106129,30.061695,1515026.0,"MULTIPOLYGON (((2568823.799 1167016.181, 25688...",POINT (2568822.392 1167013.932)
1,1,17.625109,1430,0,0,0,0.000000,502174056.0,"MULTIPOLYGON (((2569982.470 1167031.073, 25699...",POINT (2569980.620 1167027.742)
2,4,20.043997,3961,0,0,0,0.000000,502174056.0,"MULTIPOLYGON (((2569984.904 1167030.518, 25699...",POINT (2569982.875 1167027.228)
3,3,120.452508,19581,5046,2784,17972,24.680427,1515014.0,"MULTIPOLYGON (((2570000.977 1167062.834, 25699...",POINT (2569993.776 1167056.759)
4,3,48.735820,8796,5407,2784,17972,22.189995,1515014.0,"MULTIPOLYGON (((2569996.325 1167065.634, 25699...",POINT (2569991.588 1167064.477)

In [21]:
#filtered_gdf_clean_klas = filtered_gdf_clean[(filtered_gdf_clean['KLASSE'] >= 3) & (filtered_gdf_clean['KLASSE'] <= 5)]
#columns_to_drop = ["geometry", "KLASSE"]
#filtered_gdf_clean_klas = filtered_gdf_clean_klas.drop(columns=columns_to_drop)

In [10]:
filtered_gdf_clean_wklas = filtered_gdf_clean.drop(columns="geometry")

In [12]:
df_plz = pd.read_csv("eingang_entree_entrata.csv", sep='\t')
df_plz_clean = df_plz[["EGID", "DPLZ4"]]

In [13]:
df_wohnung= pd.read_csv("wohnung_logement_abitazione.csv", sep='\t')
df_wohnung = df_wohnung.dropna(subset=['EGID'])
df_wohnung_clean = df_wohnung[["EGID", "WBAUJ","WSTAT", "WAZIM"]]

In [19]:
df_gebaeude = pd.read_csv("gebaeude_batiment_edificio.csv", sep='\t')
selected_columns = ["EGID", "GKLAS", "GKAT", "GDEKT", "GANZWHG"]
df_geb = df_gebaeude[selected_columns ]

In [18]:
df_gebaeude.columns

Index(['EGID', 'GDEKT', 'GGDENR', 'GGDENAME', 'EGRID', 'LGBKR', 'LPARZ',
       'LPARZSX', 'LTYP', 'GEBNR', 'GBEZ', 'GKODE', 'GKODN', 'GKSCE', 'GSTAT',
       'GKAT', 'GKLAS', 'GBAUJ', 'GBAUM', 'GBAUP', 'GABBJ', 'GAREA', 'GVOL',
       'GVOLNORM', 'GVOLSCE', 'GASTW', 'GANZWHG', 'GAZZI', 'GSCHUTZR', 'GEBF',
       'GWAERZH1', 'GENH1', 'GWAERSCEH1', 'GWAERDATH1', 'GWAERZH2', 'GENH2',
       'GWAERSCEH2', 'GWAERDATH2', 'GWAERZW1', 'GENW1', 'GWAERSCEW1',
       'GWAERDATW1', 'GWAERZW2', 'GENW2', 'GWAERSCEW2', 'GWAERDATW2',
       'GEXPDAT'],
      dtype='object')

In [20]:
#Def to create a new column to classify the buildings in EFH einfamilienhÃ¤user, MFH etc.

def classify_building(code, code2):
    if pd.notna(code) and pd.notna(code2) and code == 1020 and code2 == 1110:
        return 'EFH'
    elif pd.notna(code) and pd.notna(code2) and code == 1020 and (code2 == 1121 or code2 == 1122):
        return 'MFH'
    elif pd.notna(code) and code == 1030:
        return 'GW'
    else:
        return 'OhneWohnnutzung'

In [21]:
#Grossraum Bern. 
df_rundumBern = pd.read_excel("rundumBern.xlsx")
bernrundum = df_rundumBern['PLZ'].tolist()
filtered_df_rundum = df_plz_clean[df_plz_clean["DPLZ4"].isin(bernrundum)]

In [22]:
#Drop duplicates after merging the data --> Only use the dplz4 for surrounding of Bern
merged_df_bern = pd.merge(filtered_gdf_clean_wklas,filtered_df_rundum,  on='EGID', how='left')
merged_df_bern = merged_df_bern.dropna(subset=['DPLZ4'], how='any')
merged_df_bern = merged_df_bern.drop_duplicates()

In [23]:
#Merge with the rest of the data
merged_df_bern_2 = pd.merge(merged_df_bern,df_geb, on='EGID', how='left')
merged_df_bern_3 = pd.merge(merged_df_bern_2, df_wohnung_clean, on='EGID', how='left')
merged_df_bern_3 = merged_df_bern_3.drop_duplicates()

In [25]:
#Clean and Add missing columns 
result_df = merged_df_bern_3
result_df['GKLAS'] = pd.to_numeric(result_df['GKLAS'], errors='coerce').astype('Int64')
result_df['GKAT'] = pd.to_numeric(result_df['GKAT'], errors='coerce').astype('Int64')
result_df['building_type'] = result_df.apply(lambda row: classify_building(row['GKAT'], row['GKLAS']), axis=1)
result_df["Bedarf_total"] = result_df["BEDARF_WARMWASSER"]+result_df["BEDARF_HEIZUNG"]
#result_df_cleaned = result_df.dropna(subset=['STROMERTRAG', 'BEDARF_WARMWASSER'], how='any')
result_df.head()

,KLASSE,FLAECHE,STROMERTRAG,WAERMEERTRAG,BEDARF_WARMWASSER,BEDARF_HEIZUNG,FLAECHE_KOLLEKTOREN,EGID,point_geom,DPLZ4,GKLAS,GKAT,GDEKT,GANZWHG,WBAUJ,WSTAT,WAZIM,building_type,Bedarf_total
0,4,7.492626,1485,1150,120,2281,7.492626,502137500.0,POINT (2589490.944 1175741.239),3158.0,<NA>,1060,BE,NaN,NaN,NaN,NaN,OhneWohnnutzung,2401
1,4,9.024376,1798,1157,120,2281,9.024376,502137499.0,POINT (2589491.596 1175744.646),3158.0,<NA>,1060,BE,NaN,NaN,NaN,NaN,OhneWohnnutzung,2401
2,5,23.193539,5377,14341,6408,99822,23.193539,1405828.0,POINT (2589480.896 1175715.707),3158.0,1110,1030,BE,1.0,1999.0,3004.0,5.0,GW,106230
3,4,65.289947,12807,14879,6408,99822,36.031604,1405828.0,POINT (2589484.900 1175718.995),3158.0,1110,1030,BE,1.0,1999.0,3004.0,5.0,GW,106230
4,3,65.264232,10756,14031,6408,99822,43.166181,1405828.0,POINT (2589478.896 1175720.485),3158.0,1110,1030,BE,1.0,1999.0,3004.0,5.0,GW,106230

In [26]:
#Save data
output_file = 'PV_BernUmgebung_Klasse.csv'
result_df.to_csv(output_file, index=False)

In [27]:
#Bern_city
df_plz = pd.read_csv("eingang_entree_entrata.csv", sep='\t')
df_plz_clean = df_plz[["EGID", "DPLZ4"]]
bern = [3000, 3001, 3003, 3004, 3005, 3006, 3007, 3008, 3010, 3011, 3012, 3013, 3014, 3015, 3018, 3019, 3020, 3024, 3027, 3030, 3040]
filtered_df_bern = df_plz_clean[df_plz_clean["DPLZ4"].isin(bern)]

In [28]:
merged_df = pd.merge(filtered_gdf_clean_wklas,filtered_df_bern,  on='EGID', how='left')
merged_df_ = merged_df.dropna(subset=['DPLZ4'], how='any')
merged_df_ = merged_df_.drop_duplicates()

In [29]:
#merged_df = pd.merge(filtered_gdf_clean_klas,filtered_df_bern,  on='EGID', how='left')
merged_df_2 = pd.merge(merged_df_,df_geb, on='EGID', how='left')
merged_df_3 = pd.merge(merged_df_2, df_wohnung_clean, on='EGID', how='left')
merged_df_3 = merged_df_3.drop_duplicates()

In [30]:
result_df_bern = merged_df_3
result_df_bern['GKLAS'] = pd.to_numeric(result_df_bern['GKLAS'], errors='coerce').astype('Int64')
result_df_bern['GKAT'] = pd.to_numeric(result_df_bern['GKAT'], errors='coerce').astype('Int64')
result_df_bern['building_type'] = result_df_bern.apply(lambda row: classify_building(row['GKAT'], row['GKLAS']), axis=1)
result_df_bern["Bedarf_total"] = result_df_bern["BEDARF_WARMWASSER"]+result_df_bern["BEDARF_HEIZUNG"]
#result_df_bern_cleaned = result_df_bern.dropna(subset=['STROMERTRAG', 'BEDARF_WARMWASSER'], how='any')
result_df_bern.head()

,KLASSE,FLAECHE,STROMERTRAG,WAERMEERTRAG,BEDARF_WARMWASSER,BEDARF_HEIZUNG,FLAECHE_KOLLEKTOREN,EGID,point_geom,DPLZ4,GKLAS,GKAT,GDEKT,GANZWHG,WBAUJ,WSTAT,WAZIM,building_type,Bedarf_total
0,2,57.346995,9130,16992,23328,52808,49.548705,90001044.0,POINT (2602671.503 1197883.386),3006.0,1122,1020,BE,4.0,2002.0,3004.0,6.0,MFH,76136
4,3,219.055101,41463,17900,23328,52808,41.496882,90001044.0,POINT (2602674.361 1197889.225),3006.0,1122,1020,BE,4.0,2002.0,3004.0,6.0,MFH,76136
8,1,59.633278,6211,14664,23328,52808,59.633278,90001044.0,POINT (2602675.311 1197898.110),3006.0,1122,1020,BE,4.0,2002.0,3004.0,6.0,MFH,76136
12,2,52.680124,8083,15819,21184,47986,48.652818,90001039.0,POINT (2602640.662 1197896.509),3006.0,1122,1020,BE,4.0,2002.0,3004.0,4.0,MFH,69170
13,2,52.680124,8083,15819,21184,47986,48.652818,90001039.0,POINT (2602640.662 1197896.509),3006.0,1122,1020,BE,4.0,2002.0,3004.0,6.0,MFH,69170

In [31]:
output_file = 'PV_Bern_klasse_v1.csv'
result_df_bern.to_csv(output_file, index=False)

In [32]:
#Deutschschweiz
df_GCH = pd.read_excel("Postleitzahlen-Schweiz.xlsx")
cantons = ["AG", "BE", "GL", "LU", "NW", "OB", "SG", "SH", "SZ", "SO", "TG", "UR", "ZG", "ZH", "AI", "AR", "BE", "BS", "BL"]
filtered_df_dch = df_GCH[df_GCH["AbkÃ¼rzung / AbrÃ©viation / Abbreviazione"].isin(cantons)]
gch = filtered_df_dch['Postleitzahl / Code Postal / Codice Postale'].tolist()
df_gch= df_plz_clean[df_plz_clean["DPLZ4"].isin(gch)]

In [33]:
merged_gch = pd.merge(filtered_gdf_clean_wklas,df_gch,  on='EGID', how='left')
merged_gch = merged_gch.dropna(subset=['DPLZ4'], how='any')
merged_gch= merged_gch.drop_duplicates()

In [34]:
merged_gch_2 = pd.merge(merged_gch,df_geb, on='EGID', how='left')
merged_gch_3 = pd.merge(merged_gch_2, df_wohnung_clean, on='EGID', how='left')
merged_gch_3= merged_gch_3.drop_duplicates()

In [35]:
result_df_gch_cleaned = merged_gch_3
#result_df_gch_cleaned = result_df_gch.dropna(subset=['STROMERTRAG', 'BEDARF_WARMWASSER'], how='any')
result_df_gch_cleaned['GKLAS'] = pd.to_numeric(result_df_gch_cleaned['GKLAS'], errors='coerce').astype('Int64')
result_df_gch_cleaned['GKAT'] = pd.to_numeric(result_df_gch_cleaned['GKAT'], errors='coerce').astype('Int64')
result_df_gch_cleaned['building_type'] = result_df_gch_cleaned.apply(lambda row: classify_building(row['GKAT'], row['GKLAS']), axis=1)
result_df_gch_cleaned["Bedarf_total"] = result_df_gch_cleaned["BEDARF_WARMWASSER"]+result_df_gch_cleaned["BEDARF_HEIZUNG"]
result_df_gch_cleaned.head()

,KLASSE,FLAECHE,STROMERTRAG,WAERMEERTRAG,BEDARF_WARMWASSER,BEDARF_HEIZUNG,FLAECHE_KOLLEKTOREN,EGID,point_geom,DPLZ4,GKLAS,GKAT,GDEKT,GANZWHG,WBAUJ,WSTAT,WAZIM,building_type,Bedarf_total
0,4,8.194440,1627,0,0,0,0.0,504089207.0,POINT (2591005.914 1166133.449),1738.0,1274,1060,FR,NaN,NaN,NaN,NaN,OhneWohnnutzung,0
1,2,46.624657,6296,0,0,0,0.0,504089207.0,POINT (2591008.261 1166138.589),1738.0,1274,1060,FR,NaN,NaN,NaN,NaN,OhneWohnnutzung,0
2,4,8.083775,1647,0,0,0,0.0,504089207.0,POINT (2591007.533 1166133.075),1738.0,1274,1060,FR,NaN,NaN,NaN,NaN,OhneWohnnutzung,0
3,5,47.715985,10925,0,0,0,0.0,504089207.0,POINT (2591011.781 1166135.442),1738.0,1274,1060,FR,NaN,NaN,NaN,NaN,OhneWohnnutzung,0
4,3,6.611289,1094,0,0,0,0.0,504089207.0,POINT (2591012.983 1166140.195),1738.0,1274,1060,FR,NaN,NaN,NaN,NaN,OhneWohnnutzung,0

In [ ]:
output_file = 'PV_DCH_Klasse_v1.csv'
result_df_gch_cleaned.to_csv(output_file, index=False)

In [ ]:
max_indices = merged_gch.groupby('EGID')['STROMERTRAG'].idxmax()
result_df_gch = merged_gch.loc[max_indices]
result_df_gch['GKLAS'] = pd.to_numeric(result_df_gch['GKLAS'], errors='coerce').astype('Int64')
result_df_gch['building_type'] = result_df_gch['GKLAS'].apply(classify_building)
result_df_gch.head()

In [ ]:
output_file = 'df_gch_v1.csv'
result_df_gch.to_csv(output_file, index=False)